.video {
    margin-left: 30px;
    width: 400px;
    height: 400px;
    padding:10px; 
    color: aliceblue;
    
    
}

.video > img {
    height: 200px;
    object-fit: contain;
    width: 300px;
    cursor: pointer;
    transition: transform 100ms;
}
.video>img:hover {
    transform: scale(1.09);
}
.video >h2 {
    padding: 0px 60px;
}
.video h4{
    padding: 0px 60px;
}
