.header {
  color: white;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}
/* hide the scroolbar from chrome , safari and opera */
.header::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar from IE , edge, and firefox */
.header {
  -ms-overflow-style: none;
  /* IE and Edge  */
  scrollbar-width: none;
  /* firefox */
}

.header__icon > .MuiSvgIcon-root {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header__icon--active > p {
  display: inline-flex !important;
  opacity: 0.7;
  transition: transform 50ms ease-out;
}
.header__icon:hover > p {
  display: inline-flex;
  opacity: 1;
  transform: scale(1.2);
}

.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.header__icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
}
.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}
.header__left {
  flex: 0.5;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 190px;
  background-color: white;
  color: gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.header__left > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 100%;
  text-decoration: none !important;
}
.header > img {
  object-fit: contain;
  margin-right: 80px;
  height: 120px;
  width: 200px;
}
